<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4" style="text-align: justify">
			
              <p>We are part of the <a href="https://www.lboro.ac.uk/departments/aae/">Department of Aeronautical and Automotive Engineering</a> at <a href="https://www.lboro.ac.uk">Loughborough University</a>.</p>
            

		   <p>  </p>
            		  
            
		</div>
		<div class="col-sm-4" style="text-align: justify">
		  Funding:<br />
		  <a href="">EPSRC (EP/T005734/1)</a>, <a href=""> Newton Fund (ST/N006852/1) </a>, <a href=""> EPSRC (EP/J011525/1) </a> and <a href="">EPSRC/dstl </a> grants <br />
		</div>
		<div class="col-sm-4" style="text-align: justify">
		  Contact:<br />
		  Stewart Miller Building <br />
		  Epinal Way<br />
		  Loughborough University<br />
		  Leicestershire LE11 3TU <br />
			<br>
			<p>  </p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
